/dist
/build
*.out
gastro
lsp-server
_assets/
galaxy
editors/vscode/client/out/

# Markdown files except essential OSS files
*.md
!README.md
!CONTRIBUTING.md
!LICENSE.md
!CHANGELOG.md
!CODE_OF_CONDUCT.md
